/* .today-commute{
    padding-left:1px
}

.today-progress-tardy{
      padding-left:15%
}

.today-progress{
    padding-left:8%
} */

/* .ant-progress-circle{
    padding-left:30%
}  */
.today-progress-tardy{
    width:100%;
    height:100%;
    padding-left:15%;
}

.today-progress{
    width:25%;
    height:100%;
    padding-left:8%;
    margin :0;
} 

.date{
    float: right;
   padding-bottom: 10px;
}
